<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>ESTOY EN anadirUsuario.html</h1>
    <input type="text" name="idusuario" id="idusuario" ng-model="nuevoUsuario.id" placeholder="ID_USUARIO" />
    <input type="text" name="nombre" id="nombre" ng-model="nuevoUsuario.nombre" placeholder="NOMBRE" />
    <input type="text" name="bibliotecario" id="bibliotecario" ng-model="nuevoUsuario.bibliotecario" placeholder="BIBLIOTECARIO" />
    <button ng-click="anadirUsuario()">Guardar</button>
</body>
</html>