<!DOCTYPE html>
<html lang="es" ng-app="miAplicacion">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CBIBLIOTECA</title>
<!--  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  -->
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="angular-locale_es-es.js"></script>
    <script type="module" src="principal.js"></script>
</head>
<body ng-controller="cuerpo">
    <h1>INDEX</h1>
    
    <a href="#!index">Biblioteca</a>
    
    <ul>
        <li>
            <a href="#!usuarios" ng-click='gestionUsuarios()'>Usuarios</a>
        </li>
        <li>
            <a href="#!libros" ng-click='gestionLibros()'>Libros</a>
        </li>
    </ul>

    <ul class="navegar"></ul>

    <div ng-view></div>

</body>
</html>